@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Galmuri11';
    font-weight: normal;
    cursor: url(../img/mymelody_cursor.cur), auto;
}
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#header {
    position: fixed;
    width: 100%;
    background: #F285B1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
#header h1 {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}
#header h1 span {
  font-size: 14px;
}
#header .time {
    text-align: right;
    color: #fff;
    font-size: 15px;
}

.icon0, .icon1, .icon2, .icon3, .icon4, .icon5 {
    position: absolute;
    width: 70px;
    left: 50px;
}
.icon0 {
    top: 100px;
}
.icon1 {
    top: 220px;
}
.icon2 {
    top: 340px;
}
.icon3 {
    top: 460px;
}
.icon4 {
    top: 580px;
}
.icon5 {
    top: 700px;
}
.icon0 img, .icon1 img, .icon2 img, .icon3 img, .icon4 img, .icon5 img {
    width: 70px;
}
.icon0 span, .icon1 span, .icon2 span, .icon3 span, .icon4 span, .icon5 span {
    display: block;
    background: #BBB4FD;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    padding: 1px;
    white-space:nowrap;
    text-align: center;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #BBB4FD;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.agent__wrap {
    display: flex;
    align-items: center;
}
#footer img {
    width: 24px;
    filter: invert(1);
    display: inline;
    margin-right: 5px;
    transform: scale(0.8);
    margin-right: 12px;
}
#footer .agent {
    border-radius: 50px;
    background: #fff;
    color: rgb(150, 138, 253);
    padding: 5px 12px;
    font-size: 14px;
}

.mac #footer {}
.window #footer {}

/* 마우스 커서 */
/* .mouse__cursor {
    position: absolute;
    left: 0;
    top: 0;
    width: 90px;
    height: 90px;
    user-select: none;
    pointer-events: none;
    background: url(../img/kuromi_cursor.png);
    background-size: contain;
    z-index: 10000;
  } */

@keyframes foldOut {
  0% {
    transform: scaleX(0) scaleY(0.001);
  }
  50% {
    transform: scaleX(1) scaleY(0.001);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
@keyframes foldIn {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  50% {
    transform: scaleX(1) scaleY(0.001);
  }
  100% {
    transform: scaleX(0) scaleY(0.001);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes opacityOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* 모바일 */
@media (max-width: 1100px) {
  .modal__box .title {
    overflow: hidden;
  }
  .modal__box .title .dot {
    display: none;
  }
  .modal__box .title .tabs {
    margin-left: 0;
  }
  .modal__box .title .tabs > div .close {
    display: none;
  }
}

@media (max-width: 800px) {
  #header {
    width: 100%;
    text-align: center;
  }
  #header h1 {
    line-height: 1.4;
  }
  .modal__box {
    width: 96%;
  }
}

