@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Galmuri11';
    font-weight: normal;
    cursor: url(../img/mymelody_cursor.cur), auto;
}
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#header {
    position: fixed;
    width: 100%;
    background: rgb(85, 63, 90);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
#header h1 {
    color: #fff;
    font-size: 30px;
}
#header .time {
    text-align: right;
    color: #fff;
}
.icon0, .icon1, .icon2, .icon3, .icon4, .icon5 {
    position: absolute;
    width: 70px;
    left: 50px;
}
.icon0 {
    top: 100px;
}
.icon1 {
    top: 220px;
}
.icon2 {
    top: 340px;
}
.icon3 {
    top: 460px;
}
.icon4 {
    top: 580px;
}
.icon5 {
    top: 700px;
}
.icon0 img, .icon1 img, .icon2 img, .icon3 img, .icon4 img, .icon5 img {
    width: 70px;
}
.icon0 span, .icon1 span, .icon2 span, .icon3 span, .icon4 span, .icon5 span {
    display: block;
    background: #000;
    color: #fff;
    font-size: 14px;
    padding: 2px;
    white-space:nowrap;
    text-align: center;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(85, 63, 90);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
#footer .agent {
    
}

.mac #footer {}
.window #footer {}

/* 마우스 커서 */
/* .mouse__cursor {
    position: absolute;
    left: 0;
    top: 0;
    width: 90px;
    height: 90px;
    user-select: none;
    pointer-events: none;
    background: url(../img/kuromi_cursor.png);
    background-size: contain;
    z-index: 10000;
  } */

  /* modal__wrap */
.modal__wrap {
}

.modal__cont {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.3);
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}

.modal__btn {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  display: inline-block;
  padding: 5px 20px;
  position: absolute;
  right: 20px;
  bottom: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.modal__btn:hover {
  background-color: #fff;
  color: purple;
}

.modal__box {
  width: 70%;
  height: 70vh;
  border-radius: 0.6rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 20px -5px hsl(180deg 2% 10%);
  transform: scale(0);
  overflow: hidden;
}
.modal__box .title {
  padding-inline: 1rem;
  background-color: #1c1d25;
  display: flex;
  align-items: center;
  color: rgb(233, 233, 244);
  height: 50px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.modal__box .title .dot {
  width: 15px;
  height: 15px;
  background-color: hsl(180 2% 50%);
  display: inline-block;
  border-radius: 50%;
  position: relative;
  margin-left: 30px;
}
.modal__box .title .dot::before {
  content: "";
  position: absolute;
  left: 25px;
  top: 0;
  width: 15px;
  height: 15px;
  background-color: hsl(180 2% 50%);
  border-radius: 50%;
}
.modal__box .title .dot::after {
  content: "";
  position: absolute;
  right: 25px;
  top: 0;
  width: 15px;
  height: 15px;
  background-color: hsl(180 2% 50%);
  border-radius: 50%;
}
.modal__box .title .plus {
  background: #282936;
  padding: 0.5rem 0.5rem 0.3rem 0.5rem;
  border-radius: 0.5rem;
}
.modal__box .title .tabs {
  display: flex;
  margin-left: 50px;
}
.modal__box .title .tabs > div {
  color: rgb(233, 233, 244);
  background-color: #282936;
  padding: 0.35rem 0.8rem 0.35rem 0.8rem;
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  border-radius: 0.4rem;
  text-transform: uppercase;
  cursor: pointer;
}
.modal__box .title .tabs > div.active {
  background-color: #1f224a;
}
.modal__box .title .tabs > div em {
  font-style: normal;
}
.modal__box .title .tabs > div .favicon {
  margin-right: 0.4rem;
  margin-top: 0.2rem;
}
.modal__box .title .tabs > div .close {
  margin-left: 3rem;
}
.modal__box .cont {
  background-color: #282936;
  height: 100%;
  box-sizing: border-box;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow-y: auto;
}
.modal__box .cont > div {
  display: none;
}

.modal__box .cont > div.active {
  display: block;
  height: 100%;
}

/* 모달 창 닫기 */
.modal__close {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #1f224a;
  padding: 1rem 1rem 0.8rem 1rem;
  border-radius: 5px;
  box-shadow: 0 5px 7px -5px hsl(180deg 2% 10%);
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0;
}
.modal__close:hover {
  background-color: #33377d;
}
.modal__close svg {
  color: #fff;
}

/* 아이프레임 */
.t_iframe {
  position: relative;
  padding-top: 56%;
  width: 80%;
  height: 0;
  z-index: 9999999;
}
.t_iframe iframe {
  position: absolute;
  top: 170px;
  left: 130px;
  border: 1px solid rgba(0,0,0,0.1);
  width: 80%;
  height: 70%;
}

/* 모달 애니메이션 */
.modal__cont.show {
  /* 전체 배경 */
  animation: foldOut 1s ease forwards;
}
.modal__cont.show .modal__box {
  /* 스크립트 박스 */
  animation: zoomOut 0.5s 1s ease forwards;
}
.modal__cont.show .modal__close {
  /* 닫기 버튼 */
  animation: opacityOut 0.5s 1s ease forwards;
  /* 초 두개 나올 때 뒤에꺼 delay 초 */
}

.modal__cont.show.hide {
  animation: foldIn 0.3s 0.5s ease backwards;
}
.modal__cont.show.hide .modal__box {
  animation: zoomIn 0.5s ease forwards;
}
.modal__cont.show.hide .modal__close {
  animation: opacityIn 0.5s ease forwards;
}

@keyframes foldOut {
  0% {
    transform: scaleX(0) scaleY(0.001);
  }
  50% {
    transform: scaleX(1) scaleY(0.001);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
@keyframes foldIn {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  50% {
    transform: scaleX(1) scaleY(0.001);
  }
  100% {
    transform: scaleX(0) scaleY(0.001);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes opacityOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacityIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* 모바일 */
@media (max-width: 1100px) {
  .modal__box .title {
    overflow: hidden;
  }
  .modal__box .title .dot {
    display: none;
  }
  .modal__box .title .tabs {
    margin-left: 0;
  }
  .modal__box .title .tabs > div .close {
    display: none;
  }
}

@media (max-width: 800px) {
  #header {
    width: 100%;
    text-align: center;
  }
  #header h1 {
    line-height: 1.4;
  }
  .modal__box {
    width: 96%;
  }
}

