.music__wrap.close {
    display: none;
}
.music__inner {
    width: 500px;
    background: #000;
    position: absolute;
    right: 100px;
    top: 100px;
    padding: 10px;
    padding-top: 0;
}
.music__header {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.music__header h2 {
    font-size: 14px;
}
.music__contents {
    background: #c4c4c4;
    width: 100%;
}
.music__contents .volume_icon {
    position: absolute;
    top: 40px;
    right: 170px;
}
.music__contents .volumeOff_icon {
    display: none;
    position: absolute;
    top: 40px;
    right: 170px;
}
.music__contents .volume_icon.hide {
    display: none;
    position: absolute;
    top: 40px;
    right: 170px;
}
.music__contents .volumeOff_icon.show {
    display: block;
    position: absolute;
    top: 40px;
    right: 170px;
}
.music__contents .volume_bar {
    position: absolute;
    right: 25px;
    top: 40px;
}
.music__view {
    display: flex;
    padding: 20px;
}
.music__view .img {
    width: 30%;
}
.music__view .img img {
    width: 100px;
}
.music__view .title {
    width: 70%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.music__view .title h3 {
    margin-bottom: 5px;
    font-size: 30px;
    line-height: 1.2;
}
.music__view .title p {
    color: purple;
}
.music__control {
    width: 100%;
    height: 100px;
    padding: 20px;
    padding-top: 0;
}
.music__control .progress {
    width: 100%;
    height: 6px;
    background: #000;
    border-radius: 5px;
}
.music__control .progress .bar {
    width: 0%;
    height: inherit;
    background: #7fff5b;
    border-radius: 5px;
}
.music__control .progress .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3px;
}
.music__control .control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 34px;
}
.music__control .repeat {
    width: 48px;
    height: 48px;
    background: url(../img/music_control.svg) no-repeat;
    background-position: -238px 0px;
}
.music__control .repeat_one {
    width: 48px;
    height: 48px;
    background: url(../img/music_control.svg) no-repeat;
    background-position: -286px 0px;
}
.music__control .shuffle {
    width: 48px;
    height: 48px;
    background: url(../img/music_control.svg) no-repeat;
    background-position: -332px 0px;
}
.music__control .prev {
    width: 48px;
    height: 48px;
    background: url(../img/music_control.svg) no-repeat;
    background-position: -96px 0px;
}
.music__control .play {
    width: 48px;
    height: 48px;
    background: url(../img/music_control.svg) no-repeat;
    background-position: 0 0px;
}
.music__control .stop {
    width: 48px;
    height: 48px;
    background: url(../img/music_control.svg) no-repeat;
    background-position: -48px 0px;
}
.music__control .next {
    width: 48px;
    height: 48px;
    background: url(../img/music_control.svg) no-repeat;
    background-position: -144px 0px;
}
.music__control .list {
    width: 48px;
    height: 48px;
    background: url(../img/music_control.svg) no-repeat;
    background-position: -190px 0px;
}

.music__footer {
    background: #c4c4c4;
}

.music__list {
    padding: 0 20px 20px 20px;
}
.music__list.close {
    display: none;
}
.music__list h3 {
    font-size: 24px;
    border-top: 2px solid #000;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.music__list h3 .list {
    display: inline-block;
    width: 100%;
    height: 24px;
    margin-right: 5px;
    vertical-align: -5px;
}
.music__list h3 .close-btn {
    background: url(../img/musicListClose-btn.svg);
    background-size: contain;
    width: 24px;
    height: 24px;
}
.music__list ul {
    max-height: 200px;
    overflow-y: scroll;
}
.music__list li {
    border-bottom: 1px solid #000;
    list-style: none;
    position: relative;
    padding: 7px 0 5px;
}
.music__list li.playing {
    color: purple;
}
.music__list li strong {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}
.music__list li em {
    font-style: normal;
}
.music__list li span {
    position: absolute;
    right: 0;
    top: 10px;
}

/* 볼륨 조절 */
