.tetris__wrap {}
.tetris__inner {
    border: 3px solid rgb(247, 222, 255);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    animation: flicker 0.5s infinite alternate;
}
@keyframes flicker {
    0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem rgb(119, 0, 255),
            inset 0 0 2rem rgb(119, 0, 255),
            0 0 4rem rgb(119, 0, 255),
            inset 0 0 4rem rgb(119, 0, 255);
    }
}
.tetris__header {
    text-align: center;
    color: #fff;
    padding-top: 30px;
}

.tetris__totalstart {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
.tetris__score {
    margin-top: 15px;
    color: #fff;
}
.tetris__score span {
    color: aquamarine;
}
.tetris__StartCloseBtn {
    display: flex;
}
.tetris__start, .tetris__close {
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 6px 12px;
    margin-top: 15px;
    display: inline-block;
    color: #fff;
}
.tetris__start:hover, .tetris__close:hover {
    background: #fff;
    color: #000;
    cursor: pointer;
}

.tetris__restart {}
.tetris__play {}
.playground {
    
}
.playground > ul {
    border-top: 30px solid rgba(0,0,0,0.2);
    border-bottom: 40px solid rgba(0,0,0,0.2);
    border-left: 40px solid rgba(0,0,0,0.2);
    border-right: 40px solid rgba(0,0,0,0.2);
}
.playground > ul > li {
    list-style: none;
    width: 100%;
    height: 30px;
}
.playground > ul > li > ul {
    display: flex;
}
.playground > ul > li > ul > li {
    list-style: none;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
}
.Tmino {
    border: 10px #a042a2 outset !important;
    background-color: #952d98;
}

.Lmino {
    border: 10px #ff861a outset !important;
    background-color: #ff7900;
}
.Jmino {
    border: 10px #1a74c4 outset !important;
    background-color: #0065bd;
}
.Zmino {
    border: 10px #ef3e4d outset !important;
    background-color: #ed2939;
}
.Smino {
    border: 10px #78c53e outset !important;
    background-color: #69be28;
}
.Omino {
    border: 10px #fed01a outset !important;
    background-color: #fecb00;
}
.Imino {
    border: 10px #1aa9de outset !important;
    background-color: #009fda;
}